<%= form_for(symbol) do |f| %>
    <div class="field">
        <%= f.label :symbol %><br />
        <%= f.text_field :author %>
    </div>

    <div class="field">
        <%= f.label :date %><br />
        <%= f.text_field :title %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

