<h1>New Stock</h1>

<div class="form">
    <%= form_for @stock do |f| %>
        <div class="field">
            <%= f.label :date %><br />
            <%= f.date_field :date %>
        </div>
        
        <div class="symbol">
            <%= f.label :symbol %><br />
            <%= f.text_field :symbol %>
        </div>

        <div class ="addSymbol">
            <% f.submit button_tag %>
            <%= f.submit 'Add Symbol', name: 'addsymbol_button' %>       
        </div>


        <div class="actions">
            <%= f.submit %>
        </div>
</div>
<% end %>

