<ul>
<li>Input comma separated ticker symbols below. You can also submit symbols separated by line-breaks. </br>
This is the default way they are pasted into the form if you copy a column from Excel. </li>
<li>If an error is thrown, double check the symbols are valid and that the date isn't a weekend or holiday.</li>
<li>If it still is throwing an error, let me know.</li>
</ul>
<div class="forms">
<%= form_for @stock do |f| %>
    <div class="field">
        <%= f.label :symbols %><br />
        <%= f.text_area :symbol %>
    </div>

    <div class="field">
        <%= f.label :date %><br />
        <%= f.date_field :date %>
    </div>

    <div class="actions">
        <%= f.submit "Submit" %>
    </div>
<% end %>

<%= link_to 'Back', root_path%>
</div>
