<h5>Input comma separated (no spaces) ticker symbols below. If an error is thrown, double check the symbols </br>are valid and that there are NO SPACES- this is required until this app is cleaned up.</h5>

<%= form_for @stock do |f| %>
    <div class="field">
        <%= f.label :symbols %><br />
        <%= f.text_area :symbol %>
    </div>

    <div class="field">
        <%= f.label :date %><br />
        <%= f.date_field :date %>
    </div>

    <div class="actions">
        <%= f.submit "Submit" %>
    </div>
<% end %>

<%= link_to 'Back', root_path%>