<table>
<tr>
<th>Symbol</th>
<th>Name</th>
<th>Date</th>
<th>Closing Price</th>
<th>Sector</th>
<th>Industry</th>
</tr>
<% @stocks.each do |t| %>
<tr>
<td> <%= t.symbol.upcase %> </td>
<td> <%= t.name %> </td>
<td> <%= t.date %> </td>
<td> <%= t.close %> </td>
<td ><%= t.sector %> </td>
<td> <%= t.industry %> </td>
</tr>
<% end %>
</table>
<%= link_to 'Back', root_path%>